.quoteDiv {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 1em;
    margin-top: 1em;
    background: none;
    border: none;
}

/* .quoteButton:focus {
    outline: none;
} */

.dailyQuote--home {
    color: snow;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    padding-left: .5em;
    width: 100%;
}

.dailyQuoteSource--home {
    color: snow;
    font-size: 16px;
    font-family: "Patua One", serif;
    letter-spacing: 2px;
    font-weight: 500;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    text-align: right;
    width: 100%;
    padding-top: .5em;
    padding-right: .5em;
}

.dailyQuote--modal {
    color: slategray;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    padding-left: .5em;
    padding-top: 1em;
    width: 100%;
}

.dailyQuoteSource--modal {
    color: slategray;
    font-size: 16px;
    font-family: "Patua One", serif;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: right;
    padding-right: 1em;
    width: 100%;
}