.fixed-bottom {
    background-color: black;
    min-height: 60px;
}

.nav-link {
    /* color:  rgba(255, 255, 255, 0.2); */
    color: snow;
}

/* .active {
    color: slategray;
} */

.top-nav {
    margin: 0;
    padding: 1em;
    width: auto;
}

.settingsCog {
    color: snow;
}