.fixed-bottom {
    background-color: black;
}

.nav-link {
    color: snow;
}

/* .active {
    color: slategray;
} */

.top-nav {
    margin: 0;
    padding: 1em;
    width: auto;
}

.settingsCog {
    color: snow;
}